<p-orderList #list dragdrop="true" controlsPosition="left" header="Guide Coffe Queue"
  [listStyle]="{'height':'450px'}" [value]="usersObservable | async">
  <ng-template let-user pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:16px;margin:15px 5px 0 0">Nome: {{user.name}} </div>
      <div style="font-size:16px;margin:15px 5px 0 0">Data Admissão:{{user.date}}</div>
    </div>
  </ng-template>
</p-orderList>
<button (click)="save()" pButton type="button" label="Salvar" class="ui-button-raised"></button>